.table {
  margin: 0 auto;
}

.header {
  color: black;
  background-color: #ccf2ff;
  border-radius: 5px;
  border: 3px solid #00394d;
  font-size: 30px;
}

.head1 {
  width: 40%;
}

.head2 {
  width: 15%;
}
