.text {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.rowIsFalse {
  background-color: red;
  opacity: 70%;
}

.rowIsFalse:hover {
  opacity: 100%;
}

.rowIsTrue {
  background-color: #66ff66;
  opacity: 70%;
}

.rowIsTrue:hover {
  opacity: 100%;
}

.isTrue {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #004d00;
  text-align: center;
}

.isFalse {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: black;
  text-align: center;
}

.availability {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  text-align: center;
}

.button {
  margin: 6px;
  font-size: 13px;
  color: #00394d;
  font-weight: 700;
  border: 4px outset #00394d;
  border-radius: 5px;
  background-color: #e6ffff;
  cursor: pointer;
}

.button:hover {
  border-style: inset;
}
