.isTrue {
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: blue;
    color: green;
    border-radius: 50%;
    text-align: center;
    border: 3px solid #000;
}

.isFalse {
    width: 30px;
    height: 30px;
    font-size: 22px;
    background-color: black;
    color: red;
    border-radius: 50%;
    text-align: center;
    border: 3px solid #000;
}

.availability {
    display: flex;
    justify-content: center;
}